* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

body {
  position: relative;

}

/* Utilities */
.nav{
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 8px 16px -6px #18274B14;
  display: flex;
  justify-content: center;
  
  
}
.nav-item{
  width: 100%;
  max-width: 1128px;
  height: 54px;
  gap: 64px;
  background-color: white;
  display: flex;
  justify-content:center ;
  align-items: center;
}
.menu{
  width: 660px;
  height: Hug (37px);
  gap: 88px;
  display: flex;
  justify-content: center;
  align-items: center;  

}
.select{
  display: flex;
  width: 166px;
  justify-content: center;
  height: 37px;
  padding: 0px 29.807693481445312px 0px 6.884615421295166px,
}
.h1{
  width: 67px;
  height: 35px;
  margin-top:-0.5px ;
  left: 69.19px;
  font-family: 'Inter Tight', sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0.004em;
  text-align: left;
  color: #1A1A1A;
}
#image{
  width: 54px;
  height: 29.83px;
  margin-top: -0.5px;
  left: 6.88px;

}
.list{
  list-style: none;
  width: 406px;
  height: Hug (26px);
  gap: 24px;
  text-decoration: none;
  display: flex;

}
.home{
  width:43px;
  height: 26px;
  color:#666666 ;
  line-height: 25.6px;
  letter-spacing: 0.4%;
  font-weight: 400;
  font-family:  'Lato',sans-serif;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}
.home:hover{
  width: Hug (42px);
  height: Hug (26px);
  color: #DA3743;
  line-height: 25.6px;
  letter-spacing: 0.4%;
  font-weight: 400;
  font-family:  'Lato',sans-serif;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #DA3743;
  padding-bottom:-30em ;
}

footer{
  width: Hug (72px);
  height: Hug (24px);
  gap: 24px;
  color: #666666;
  display: flex;

}
.span{
  gap: 24px;
}

#sign{
  width: Hug (47px);
  height: Hug (26px);
  font-family: 'Lato',sans-serif ;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.004em;
  text-align: left;
  text-decoration: none;
  color: #666666;


}
#media-list{
  display: none;
}
#create{
  width: 157px;
  height:  54px;
  padding: 0px 24px 0px 24px;
  border-radius: 30px;
  gap: 16px;
  background-color: #DA3743;
  border: none;
  font-size: 15px;
  line-height: 25.6px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  font-family:  'Lato',sans-serif;
  z-index: 900;
}
#create:hover{
  transform: scale(0.9) rotate(3deg) ;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  width: 100%;
  max-width: 1128px;
  height: 700px;
  margin: 50px 0px;
}

/* General styles */
.nav {
  min-height: 50px;
  box-shadow: 0px 8px 16px -6px #18274b14;
  padding: 10px 0px;
}

.show-case-container {
  background-color: #ffffff;
  min-height: 500px;
  margin: 50px 0px;

}
.show-flex{
  background-color: #ffffff;
  min-height: 500px;
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-case {
  margin: 50px 0px;
  height: 700px;
  
  
}
#media-rice{
  display: none;
}
/*The current menu part*/
.case-container{
  background-color: #FAFAFA ;
  height: 1500px;
  
}
.case-centered{
  width: 100%;
  width: 1128px;
  height: 1400px;
  background-color: #FAFAFA;
 
}
.notuse{
  margin: 20px 0px;
  
}
.down-menu{
  width: 43px;
  height: 22px;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 1.25%;
  text-align: center;
  color: #DA3743;
}
.menu-block{
  width:300px ;
  height: 52px;
  display: flex;
  gap: 325px;
  
}
#media-shop{
  display: none;
}
#vector-image1{
  display: none;
}
#vector-image2{
  display: none;
}
#current-menu{
  width: 500px ;
  height: 52px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 52.08px;
  color: #041210;
}
.tabs-block{
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #EBEBEB;
  padding: 4px;
  gap: 8px;
}
#tabs{
  text-decoration: none;
  width: 51px;
  height: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22.4px;
  color: #333333;
  border: none;
  background-color: transparent;
}
#tabs:hover{
  width: 67px;
  height: 32px;
  border-radius: 8px;
  padding: 4px, 8px, 4px, 8px;
  background-color: #DA3743;
  font-size: 14px;
  line-height: 22.4px;
  color: #ffffff;
}
.frame7648{
  margin: 50px 0px;
  gap: 48px;
}
.frame1603{
  width: 1128px;
  height: 458px;
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}
.frame432{
  width: 360px;
  height: 458px;
  border-radius: 12px;
  padding: 0px, 0px, 0px, 0px;
  gap: 19px;
  background-color: #ffffff;
  border: none;
  display: none;
}
.frame4332{
  width: 360px;
  height: 458px;
  border-radius: 12px;
  padding: 0px, 0px, 0px, 0px;
  gap: 19px;
  background-color: #ffffff;
  border: none;
}
.word{
  width: 298px;
  height: 146px;
  gap: 8px;
  margin-left: px;
}
.jellof{
  width: 300px;
  height: 32px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  margin-top: 12px;
  color: #4D4D4D;
}
.jerry{
  display:none;
}
.yam{
  width: 300px;
  height: 44px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  color: #999999;
  margin-top: 6px;
}
.money{
  width: 297px;
  height: 54px;
  padding: 8px, 8px, 8px, 0px;
}
.moneycode{
  width: 93px;
  height: 32px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 31.68px;
  color: #666666;
  margin-top: 29px;
}
.second-frame{
  width: 360px;
  height: 458px;
  border-radius: 12px;
  padding: 0px, 0px, 32px, 0px;
  gap: 19px;
  background-color: #ffffff;
  border: none;
}
.third-frame{
  background-color: #ffffff;
  border-radius: 12px;
  border: none;
}
.second-frame1603{
  width: 1128px;
  height: 458px;
  gap: 24px;
  margin-top: 48px;
  display: flex;
}
#full-menu{
  width: 119px;
  height: 54px;
  margin-top: 600px;
  margin-left: 500px;
  border-radius: 30px;
  padding: 0px, 24px, 0px, 24px;
  gap: 16px;
  background-color: #DA3743;
  color: #ffffff;
  font-family: 'Lato',sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 500;
  border: none;
  
}

/*Pink layout*/
.pink {
  background: #da374326;
  min-height: 400px;
 
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 2%;
  border-radius: 50%;
  right: 20px;
  cursor: pointer;
  color: #ffffff;
  padding: 12px 0px 8px 8px;
  box-shadow: 0px 14px 64px -4px #18274b1f;
  background: linear-gradient(180deg, #ffd280 0%, #ff3d31 0.01%, #da3743 100%);
  background-blend-mode: multiply;
}
.about-us{
  width: 360px;
  height: 254px;
  top: 131px;
  padding-left: px;
}
.text-about{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 52.08px;
  color: #363A40;
  width: 360px;
  height: 156px;
  margin: 50px 0px;
}
.text-at{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.4%;
  color: #67758D;
  width: 286px;
  height: 78px;
  
}
.dwaf{
  display: none;
}
.rectangle{
  width: 646px;
  height: 337px;
  margin-top: 80px;
  border-radius: 12px;
  margin-left: -2px;
  box-shadow: 0px 8px 16px -6px #18274B14;
  background-color: #ffffff;
}
.ics{
  width: 24px;
  height: 22px;
  margin-top: 23px;
  margin-right: 23px;
  float: right;
  


}
.rect-child{
  display: flex;
  gap:10px;
}
.rect-img{
  width: 120px;
  height: 223px;
  margin-top: 40px;
  margin-left: 59px;
  gap: 10px;

}


.john{
  width: 84px;
  margin-top: px;
  height: 64px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 31.68px;
  text-align: center;
  color: #363A40;
  text-align: center;
}
.enugu{
  margin-top: 12px;
  margin-left: 10px;
  width: 98px;
  height: 19px;
  font-family: 'Lato', sans-serif;
  line-height: 19.2px;
  letter-spacing: 1.25%;
  color: #67758D;
  font-size: 11px;
  font-weight: 700;
}
.content{
  width: 341px;
  height: 174px;
  margin-top: 35px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.4px;
  color: #67758D;
}

/*The blog news part*/
.blog{
  width: 420.99px;
  height: 117.17;
  margin-left: 30%;
  

}
.blog-news{
  width: 361px;
  height: 45px;
  top: 3086px;
  margin-left: 15.33px;
  font-size: 37px;
  text-align: center;
  line-height: 45.48px;
  font-weight: 600;
  color: #030303;
  font-family: Hind 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-news{
  width: 420.99px;
  height: 52px;
  margin-top: 15px;
  opacity: 70px;
  font-family: 'Hind siligurl',sans-serif;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
  font-size: 16px;
  color: #0A244E;

}
.chicken{
  width: 1128px;
  height: 472px;
  gap: 24px;
  margin-top: 80px;
  display: flex;
  
}
.kung{
  width: 360px;
  height: 471px;
  gap: 30px;
  border: 1px solid #0000001A;
  border-radius: 10px;
}
#rec69{
  width: 355.61px;
  height: 235px;
  border-radius: 10px;
  
}
.better{
  width: 295.05px;
  height: 167px;
  gap: 10px;
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.oct{
  width: 295.05;
  height: 113px;
  gap: 16px;
}
.takeout{
  width: 291.13px;
  height: 53px;
  gap: 8px;
}
.one{
  width: 141px;
  height: 19px;
  gap: 12px;
  display: flex;
}
.design{
  width: 37px;
  height: 19px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  text-align: right;
  color: #DA3743;
}
.october{
  width: 92px;
  height: 19px;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  color: #556480;
  font-size: 12px;
}
.two{
  width: 291.13px;
  height: 26px;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 16px;
  line-height: 25.6px;
  color: #333333;
  margin-top: 8px;
}
.spicy{
  width: 295.05px;
  height: 44px;
  opacity: 70%;
  margin-top: 20px;
  
}
.typo{
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  color: #666666;
}
.read-more{
  width: 89px;
  height: 22px;
  margin-top: 40px;
}
.read-more{
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #DA3743;
  line-height: 22.4px;
  text-decoration: none;

}
.shadow{
  width: 360px;
  height: 472px;
  border-radius: 10px;
  padding: 1px, 0px, 1px, 0px;
  gap: 10px;
  background-color: #ffffff;
  box-shadow: 0px 8px 24px -4px #18274B14;

}
/*The Delicious meal at your... */
.food{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  height: 700px;
  
  
  
}
.h3{
  width: 551px;
  height: 144px;
  font-family:'Lato',sans-serif ;
  font-weight: 700;
  font-size: 55px;
  line-height: 71.68px;
  color: #1A1A1A;
}
.p{
  width: 390px;
  height: 55px;
  opacity: 70%;
  font-size: 18px;
  color: #13254A;
  line-height: 26.1px;
  font-weight: 400;
  font-family: 'Lato',sans-serif;
  
}
.started{
  width: 325px;
  height: 54px;
  border-radius: 30px;
  padding: 0px,16px,0px,16px;
  margin-top: 16px;
  background-color: #DA3743;
  font-weight: 500;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  border: none;
  color: #ffffff;
}
.delicious{
  width: 551px;
  height: 223px;
  gap: 24;
  
}
.object{
  width: 587.09px;
  height: 587.09px;
  
  
}
#rice{

  margin: 51.86px 51.86px;
}
/*The last last container*/
.end{
  display: flex;
  justify-content: center;
  height: 461px;
  background-color: #FAFAFA;
}
.last-end{
  width: 100%;
  max-width: 1128px;
  margin: 50px 0px;
}
.pink-meal{
  width: 269.19px;
  height: 60px;
  padding-top: 128px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.pink-image{
  width: 87.56px;
  height: 48.38px;
  margin-top: -0.81px;
  margin-left: 11.16px;
}
.pink-h1{
  width: 108px;
  height: 57px;
  margin-top: px;
  margin-left: 16.2px;
  font-size: 35.93px;
  font-family: 'inter',sans-serif;
  line-height: 57.48px;
  letter-spacing: 0.4%;
  font-weight: 800;
  color: #1A1A1A;
}
.pink-link{
  width: 354.2px;
  height: 156px;
  margin-left: 732px;
  margin-top: -54px;
  gap: 1px;
  display: flex;
}
.company{
  margin-top: 30px;
  
}
.comp{
  width: 162.2px;
  height: 23px;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25.6px;
  color: #1A1A1A;
  margin-bottom: 1rem;
}
.disc{
  text-decoration: none;
  color: #4D4D4D;
  width: 76px;
  height: 26px;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4%;
  line-height: 25.6px;
  margin-top: 30px;

}
.last-bod{
  border: none;
  border-top: 1px solid #B3B3B3;
  width: 1128px;
  height: 1px;
  opacity: 90%;
  margin-top: 20px;
  

}
.child-bod{
  display: flex;
  align-items: end;
  width: 1128px;
  height: 50px;
}
.reserved{
  width: 930px;
  height: 19px;
  opacity: 80%;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  color: #333333;
  display: flex;
}
.social{
  width: 198px;
  height: 50px;
  gap: 24px;
  display: flex;
}

#pink-i{
  
  width: 50px;
  height: 50px;
  opacity: 50%;
  color: #121212;
  font-size: 24px;
  border-radius: 100px;
  border:1px solid #121212 ;
  text-align: center;
  padding-top: 12px;
  background-color: #FAFAFA;
}
.media{
  display: none;
}
#input{
  display: none;
}

@media screen and (max-width:1390px) {
  .media{
    display: block;
    width: 300px;
    height: 200px;
    background-color: red;
    color: white;
  }
  body{
    width: 400px;
    
  }
  .nav{
    height: 100px;
    background: #ffffff;
    box-shadow: 0px 8px 16px -6px #18274B14;
    display: flex;
    justify-content: start;
    width: 375px;
    
    
    
  }
  .nav-item{
    
    width: 375px;
    height: 54px;
    gap: 64px;
    background-color: white;
    display: flex;
    justify-content:center ;
    align-items: center;
  }
  #sign{
    display: none;
  }
  #hide-glass{
    display: none;
  }
  #create{
    
    display: none;
    
  }
  .list{
    display: none;
  }
  .flex {
    display: flex;
    justify-content: start;
    align-items: end;
    
    
  }
  .centered {
    width: ;
    max-width: 375px;
    height: 700px;
    margin: ;
    
  }
  .flex {
    display: flex;
    justify-content: start;
    align-items: end;
    
  }
  .delicious{
   
    

  }
  .object{
    width: 351px;
    height: 351px;
    
  
    
  }
  #rice{
    width: 290.28px;
    height: 289.48px;
    
  }
  .h3{
    color: white;
    width: 342px;
    height: 72px;
    font-family:'Lato',sans-serif ;
    font-weight: 700;
    font-size: 28px;
    margin-top: -120px;
    margin-left: 10px;
    line-height: 35.56px;
    
  }
  .p{
    color: white;
    width: 309px;
    height: 55px;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 12px;
    opacity: 70%;
  }
  .pp{
    width: 342px;
    height: 22px;
    top: -3px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;



  }
  .food{
    background-color: #DA3743 ;
    display: block;
    width: 375px;
    height: 659px;
    
  }
  
  .started{
    display: none;
  }
  .show-case-container {
    
    width: 375px;
    height: 635px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    
  }
  #input{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    
  }
  .rap-icon{
    height: 50px;
    width: 342px;
    border-radius: 6px;
    border:none ;
    background-color: gree;
    padding: 15px, 16px, 15px, 16px;
    background: linear-gradient(0deg, #E6E6E6, #E6E6E6),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);

    box-shadow: 0px 18px 88px -4px #18274B24;

    box-shadow: 0px 8px 28px -6px #18274B1F;
    display: flex;
    align-items: center;
  }
  .search{
    height: 50px;
    width: 342px;
    border-radius: 6px;
    border: none;

    padding: 15px, 16px, 15px, 16px;
    background: linear-gradient(0deg, #E6E6E6, #E6E6E6),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);

    box-shadow: 0px 18px 88px -4px #18274B24;

    box-shadow: 0px 8px 28px -6px #18274B1F;

    
  }
  
  .search:focus{
    border: none;
    outline: none;
    
  }
  #solid{
    color: #646060;
    padding-left: 10px;
  }
    
  
  ::placeholder{
    font-size: 20px;
    padding-left: 20px;
  }
  
  .frame7648{
    
    width: 375px;
    height: 800px;
  }
  .frame1603{
    width: 375px;
    height: 220px;
    gap: 28px;
    display: flexbox;
    flex-wrap: wrap;
  }
  #vector-image1{
    display: block;
    z-index:7888px ;
  }
  #vector-image2{
    display: block;
    position: absolute;
    width: 349.24px;
    height: 275.39px;
    margin-top: 150px;
    margin-left: 88px;

  }
  /*Current menu*/
  .case-container{
    
    max-width: 375px;
    height: 1100px;
    display: block;
    margin: 0px 0px;
    
    
    
  }
  .case-centered{
    width: 375px;
    height: 1100px ;
    
    padding-left: 10px;
   
  }
  .tabs-block{
    width: 370px;
  }
  .menu-block{
    display: block;
  }
  .frame432{
    width: 164px;
    height:  235px;
    
    left: 16px;
    padding: 0px, 0px, 13.69px, 0px;
    border-radius: 5.13px;
    gap: 8px;
    display: block;

  }
 
  #media-list{
    display: block;
  }
  #media-chic{
    width: 163.86px;
    height: 123px
    border-radius: 5.13px, 5.13px, 0px, 0px;

  }
  .word{
    width: 140px;
    height: 93.42px;
    gap: 4px;


  }
  .jolly{
    width: 140px;
    height: 57.42px;
    gap: 3.42px;

  }
  .second-frame{
    display: none;
  }
  .third-frame{
    display: none;
  }
 .frame4332{
  display: none;
 }
.jellof{
  display:none;
}
.jerry{
  display:block;
  width: 90px;
  height: 22px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #4D4D4D;



}
.yam{
  font-family: Lato;
  font-size: 8px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
  width: 140px;
  height: 32px;

}
#full-menu{
  width: 119px;
  height: px;
  margin-top: px;
  margin-left: 99px;
  border-radius: 30px;
  padding: 0px, px, 0px, px;
  gap: 16px;
  background-color: #DA3743;
  color: #ffffff;
  font-family: 'Lato',sans-serif;
  
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 500;
  border: none;
}
#media-shop{
  display: block;
  width: 32px;
  height: 32px;
  color: white;
  background-color: #DA3743;
  padding-top: 8px;
  font-size: 20px;
  margin-top: 24px;
  border-radius: 10px;
}
#media-list{
  font-size: 24px;
  margin-right: 30px;
}
.span{
  
}
.money{
  display: flex;
  margin-top: -20px;
  gap: 24px;
}
/*Pink layout*/
.main{
  display: block;
  margin-left: 10px;
}
.pink{
  width: 375px;
  height: 461px;
  background: #F9E1E3;
  display: block;
  padding-top: 10px;
  


}
.about-us{
  width: 280px;
  height: 107px;
  top: 40px;
  left: 18px;
  line-height:80px ;

}
.text-about{
  width: 270.21px;
  height: 64px;
  top: 40px;
  left: 18px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #363A40;
}
.text-at{
  width: 280px;
  height: 38px;
  margin-top: -40px;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #67758D;
}
.rectangle{
  width: 340px;
  height: 174px;
  border-radius: 12px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 16px -6px #18274B14;
  margin-top: 50px;

}
.rect-child{
  display: block;
  width: 275px;
  height: 126px;
  top: 24px;
  margin-left: 24px;
  gap: 19px;
  text-align: start;

}
.rect-img{
  width: 169px;
  height: 48px;
  gap: 9px;
  display: flex;
  padding-top: 20px;
  margin-left: 1px;

}
#avater{
  width: 48px;
  height: 48px;
  border-radius: 100px;
}
.john{
  width: 112px;
  height: 46px;
  gap: 4px;
  
  
}
.sam{
  width: 112px;
  height: 26px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #363A40;

}
.enugu{
  width: 82px;
  height: 16px;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.0125em;
  text-align: left;
  color: #67758D;
  margin-top: 4px;

}
.content{
  display: none;
}
.dwaf{
  display: block;
  width: 269px;
  height: 59px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  color: #67758D;
  margin-top: 50px;
}
/*Blog part*/
.show-flex{
  max-width: 375px;
  background-color: #ffffff;
  padding-left: 8px;
  margin: 0%;
  height: 1400px;
  margin-top: 40px;
  
}
.show-case{
  margin-top: px;
  height: 1400px;
}
.blog{
  width: 343px;
  height: 84px;
  margin: 0%;


}
.text-news{
  width: 343px;
  height: 44px;
  opacity: 0.7px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;


}
.blog-news{
  width: 343px;
  height: 32px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #030303;
}
.chicken{
  display: block;
  width: 343px;
  height:389px;
  padding: 24px, 0px, 0px, 0px;
  gap: 16px;
  border: none;
  


}
.kung{
  width: 343px;
  height:389px;
  padding: 24px, 0px, 0px, 0px;
  gap: 16px;
  box-shadow: 0px 8px 24px -4px #18274B14;
  border: none;
  

}
.rect69{
  width: 297px;
  height: 196px;

}
.better{
  width: 293px;
  height: 122.71px;
  gap: 4px;
  display: ;

}
.takeout{
  width: 139.44px;
  height: 19px;
  gap: 11.44px;

}
.design{
  width: 37px;
  height: 19px;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
  columns: #da3743;

}
.october{
  width: 91px;
  height: 19px;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
  color: #556480;


}
.one{
  width: 139.44px;
  height:19px;
  gap: 11.44px;

}
.two{
  width: 277.56px;
  height: 24.79px;

}
.spicy{
  width: 281.3px;
  height: 41.95px;
  opacity: 0.7px;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0%;

}
.read-more{
  width: 79.13px;
  height: 20.97px;
  font-family: 'lato' sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #DA3743;
  margin-top: 25px;
  display: block;

}
.shadow{
  width: 343px;
  height:389px;
  padding: 24px, 0px, 0px, 0px;
  gap: 16px;
  box-shadow: 0px 8px 24px -4px #18274B14;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.end{
  width: 375px;
  
}
.last-end{
 padding-top: -9220px;
  width: 375px;
}
.pink-meal{
  width: 269.19px;
  height: 60px;

}
.pink-image{
  width: 87.56px;
  height: 48.38px;
  margin-top: -0.81px;
  margin-left: 11.16px;
}
.pink-h1{
  width: 108px;
  height: 57px;
  
  font-size: 35.93px;
  font-family: 'lato',sans-serif;
  line-height: 57.48px;
  letter-spacing: 0.4%;
  font-weight: 800;
  color: #1A1A1A;
}
.pink-link{
  width: 354.2px;
  height: 156px;
  margin-left: 20px;
  
  gap: 1px;
  display: flex;
  margin-top: 90px;
}
.company{
  margin-top: 30px;
  
}
.comp{
  width: 162.2px;
  height: 23px;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25.6px;
  color: #1A1A1A;
  margin-bottom: 1rem;
}
.disc{
  text-decoration: none;
  color: #4D4D4D;
  width: 76px;
  height: 26px;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4%;
  line-height: 25.6px;
  margin-top: 30px;

}
.last-bod{
  border: none;
  border-top: 1px solid #B3B3B3;

  width: 375px;
  height: 1px;
  opacity: 90%;
  margin-top: 20px;
  

}
.child-bod{
  
  width: 375px;
  height: 50px;
}
.reserved{
  width: 375px;
  height: 19px;
  opacity: 80%;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  color: #333333;
  
}
.social{
  width: 198px;
  height: 50px;
  gap: 24px;
  display: flex;
}

#pink-i{
  
  width: 50px;
  height: 50px;
  opacity: 50%;
  color: #121212;
  font-size: 24px;
  border-radius: 100px;
  border:1px solid #121212 ;
  text-align: center;
  padding-top: 12px;
  background-color: #FAFAFA;
}
}
  
